/* Color Guide 
===============

Red: #ca0000;
Blue: #0005cf;
==============*/

/* Basic */

h1{
	font-family: "SourceSansProBold";
	font-size: 2em;
	line-height: 30px;
}

h1.styleGuideHeads{
	color: #ca0000;
	border-bottom: 1px solid black;
	margin: 30px 0;
	
}

h2{
	font-family: "SourceSansProSemibold";
	font-size: 1.5em;
}

p{
	font-family: "CrimsonSemibold";
	font-size: 1.4em;
	
}

a.subhead:link, a.subhead:visited{
	color: #ca0000;
	font-family: "SourceSansProBold";
	font-size: 1.3em;
}

a.subhead:hover{
	color: #0005cf;
}

a:link, a:visited{
	color: #ca0000;
	font-family: "CrimsonSemibold";
}

a:hover{
	color: #0005cf;
}

/* Header */

header{
	position: relative;
}

canvas#banner{
	position: absolute;
	z-index: 5;
}

header img{
	width: 180px;
}

/* Top Menu */

nav{
	
	background: -webkit-linear-gradient(rgba(255,255,255,0.4), rgba(0,0,0,0.5)), black url(../img/Link_Texture.gif) ;
	background: -moz-linear-gradient(rgba(255,255,255,0.4), rgba(0,0,0,0.5)), black url(../img/Link_Texture.gif) ;
	background: linear-gradient(rgba(255,255,255,0.4), rgba(0,0,0,0.5)), black url(../img/Link_Texture.gif) ;
	color: white;
	font-family: "SourceSansProSemiBold";
	font-size: 1.8em;
	width: 100%;
	overflow: auto;
	
}

nav li{
	display: inline-block;
	float: left;
	border-right: 1px solid #8a8a8a; 
	padding: 20px;
	cursor: pointer;
}

nav ul{
	margin-left: 15%;
}

nav li:hover span{
	border-bottom: 2px solid #ca0000;
}

nav li:hover{
	box-shadow: inset 0px 0px 10px black;
}

nav li:last-child{
	border-right: none;
}

/* Banner */

#bannerBox{
	float: right;
	position: relative;
	margin-right: 150px;
}

#bannerBox form{
	position: absolute;
	z-index: 6;
}

#bannerBox input{
	margin-left: 18px;
}
/* Buttons */

button{
	color: white;
	font-family: 'SourceSansProBlack';
	font-size: 2em;
	border: none;
}

#redBtn{
	background: url(../img/Sprite-Map.png) no-repeat -24px -386px;
	width: 220px;
	height: 45px;
}

#blueBtn{
	background: url(../img/Sprite-Map.png) no-repeat -395px -386px;
	width: 220px;
	height: 45px;
}

#facebookBtn{
	background: url(../img/Sprite-Map.png) no-repeat -182px -14px;
	width: 67px;
	height: 67px;
}

#twitterBtn{
	background: url(../img/Sprite-Map.png) no-repeat -283px -14px;
	width: 67px;
	height: 67px;
}

#youTubeBtn{
	background: url(../img/Sprite-Map.png) no-repeat -384px -14px;
	width: 67px;
	height: 67px;
}

#rssBtn{
	background: url(../img/Sprite-Map.png) no-repeat -81px -14px;
	width: 67px;
	height: 67px;
}


/* Forms */

input[type="submit"]{
	background: url(../img/Sprite-Map.png) no-repeat -24px -473px;
	width: 140px;
	height: 45px;
	border: none;
	color: white;
	font-family: 'SourceSansProBlack';
	font-size: 2em;
}

input[type="text"], input[type="password"]{
	width: 120px;
	height: 20px;
}

textarea{
	width: 600px;
	height: 300px;
}

input[type="text"], input[type="password"], textarea{
	box-shadow: inset 2px 2px 4px black;
	font-family: 'SourceSansProSemiBold';
	font-size: 1em;
	border-radius: 5px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
	border-color: #ca0000;
	box-shadow: 0px 0px 4px black;  
	
}

label{
	font-family: 'SourceSansProSemiBold';
	font-size: 2em;
}


/* Carousel */

.carousel-control{
	background: none;
	border: none;
	border-radius: none;
}

.left{
	left: -130px;
}

.left span{
	font-family: 'Watch-Prototype' !important;
	font-size: 2em;
	color: black !important;
}

.right{
	right: -60px !important;
}

.right span{
	right: -60px !important;
	font-family: 'Watch-Prototype' !important;
	font-size: 2em;
	color: black !important;
}

#myCarousel{
	/* background: #cacaca; */
	margin-top: 20px;
	padding-top: 20px;
}


.item img{
	float: left;
	width: 400px;
	margin-right: 10px;
}

/* Sections */

.sections{
	width: 146px;
	padding: 10px;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
}

.sections a{
	color: white; 
	font-family: 'SourceSansProSemiBold';
	font-size: 1.2em;
}


.sections:nth-child(1){
	background:#0005cf;
}

.sections:nth-child(2){
	background: #ca0000;
}

.sections:nth-child(3){
	background: #09c100;
}

.sections:nth-child(4){
	background: #b003dc;
}

.sections:nth-child(5){
	background: #c56600;
}

.secHead{
	background:  url(../img/sections-tops.png) no-repeat;
	width: 172px;
	height: 25px;
	color: white;
	position: relative;
}

.secHead h2{
	position: absolute;
	bottom: -20px;
	left: 20px;
}


